<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><a href="/">Menu</a></mat-toolbar>
    <mat-nav-list>

      <span >Banks
        <a routerLink="bank/{{it}}" *ngFor="let it of banks" mat-list-item href="#">{{it}}</a>
        
      </span>
      <span>
        Programmers
        <a routerLink="programmers" mat-list-item href="#">Prog</a>

      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a href="/">Infovalutar Web</a>
    </mat-toolbar>
    <span>
      <mat-form-field>
        <mat-label>Choose bank</mat-label>
        <mat-select>
          <mat-option *ngFor="let b of banks" [value]="b">
            {{b}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      
      <a routerLink="bank/{{it}}" *ngFor="let it of banks" href="#">{{it}} &nbsp;</a>
    </span>
    {{rates.size}} {{rates | json}}
    <router-outlet></router-outlet>
<br />

    For Programmers:<br />
<a href="https://github.com/ignatandrei/infovalutar" target="_blank" rel="noopener"> Give our repo a star.
  <div class="github-star-badge">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
    
  </div>
</a>


<a href="https://infovalutar.azurewebsites.net/swagger/index.html"  target="_blank" rel="noopener">Swagger</a>
  </mat-sidenav-content>
</mat-sidenav-container>
